*{
	padding: 0px;
	margin: 0px;
	font-family: arial, tahoma, calibri;
}

@font-face{
	font-family: 'franklin-gothic-medium-cond';
	src: url("../font/franklin-gothic-medium-cond.ttf");
}

.caixaMaior{
	width: 100%;
	height: auto;
}

.caixaHeader{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 70px;
	background-image: linear-gradient(to top, #0367a6, #07578a);
}

.caixaLogo figure img{
	width: 200px;
}

#menu{
	display: flex;
	width: 550px;
	justify-content: space-around;
	align-items: center;
	height: 50px;
}

.linkMenu{	
	display: flex;
	width: 530px;
	height: 45px;
	justify-content: space-around;
	align-items: center;
}

.linkMenu>*{
	padding: 10px;
	font-family: 'franklin-gothic-medium-cond';
	font-size: 20px;
	color: #f2b705;
	cursor: pointer;
	text-decoration: none;
}

.linkMenu>*:hover{
	background-color: #f2b705;
	color: #0367a6;
	border-radius: 2px;
}

.caixaIconEntrar{
	width: 100px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 2px white;
}

.caixaIconEntrar:hover{
	background-color: #0367a6;
}

.caixaIconEntrar figure{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.caixaIconEntrar figure img{
	width: 18px;
	margin-bottom: 3px;
}

.caixaIconEntrar figure figcaption a{
	font-family: 'franklin-gothic-medium-cond';
	font-size: 15px;
	color: #f2b705;
	text-decoration: none;
}

.secao{
	width: 100%;
	height: auto;
	background-image: url(../img/img-index-mar.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}

.caixaLogo{
	width: 250px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.caixaLogo figure{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}

.mensagemIndex{
	color: white;
	font-family: 'franklin-gothic-medium-cond';
	text-align: center;
	padding-top: 25px;
}

.mensagemIndex p{
	font-family: 'franklin-gothic-medium-cond';
	font-size: 50pt;
	letter-spacing: 20px;
}

.blocoIndexForm{
	height: auto;
	width: 1050px;
}

.formularioIndex{
	background-color: #3b88b8;
	padding: 25px;
	margin-top: 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px white;
}

.escolhaOrigem, .escolhaClasse, .escolhaIda{
	width: 300px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #2374A7;
	margin: 4px;
}

.formularioIndex label{
	font-family: 'franklin-gothic-medium-cond';
	font-size: 18pt;
	padding: 10px;
	color: #EDF797;
}

.mensagemForm p{
	color: yellow;
	font-size: 30px;
	font-family: 'franklin-gothic-medium-cond';
	text-align: center;
}

.data{
	width: 150px;
	padding: 10px;
	margin: 4px;
	border-style: none;
	border-radius: 5px;
}

.qtdPassagem{
	width: 50px;
	padding: 10px;
	margin: 4px;
	border-style: none;
	border-radius: 5px;
}

.formularioIndex button{
	width: 100%;
	height: 70px;
	padding: 10px;
	box-shadow: 1px 1px 5px #2374A7;
	font-size: 30px;
	font-family: 'franklin-gothic-medium-cond';
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #C9EBFF;
}

.formularioIndex button:hover{
	background-color: #265F82;
	color: white;
	border-radius: 5px;
	border-style: none;
}

.secaoCards{
	width: 100%;
	height: auto;
	background-image: linear-gradient(to top, #61C2FF, #3896C7);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.textoCimaCard p{
	color: yellow;
	font-size: 45px;
	font-family: 'franklin-gothic-medium-cond';
	text-align: center;
	text-shadow: 1px 1px 3px blue;
	padding-top: 35px;
}

.hr{
	background-image: linear-gradient(to right, yellow, blue);
	border-style: none;
	height: 2px;
	width: 100%;
}

.boxCard{
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 35px;
}

.card{
	width: 300px;
	height: 250px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 25px;
	border-radius: 4px;
}

.imgCard{
	width: 270px;
	height: 135px;
}

.nomeViagemCard{
	width: 270px;
	height: 30px;
	padding-top: 15px;
}

.descricaoCard{
	width: 270px;
	height: 55px;
}

.footer{
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-image: linear-gradient(to top, #0367a6, #07578a);
	color: #f2da05;
	flex-wrap: wrap;
	padding: 10px;
}

.logo-footer img{
	width: 150px;
}

.footer-redes img{
	margin: 10px;
}

.textoFooter{
	font-size: 10pt;
	display: flex;
	align-items: center;
	justify-content: center;
}




/*------------------------- PÁGINA CONTATO -----------------------------*/
.secaoContato{
	height: 300;
	background-color: #1885c4;
	border: 1px rgb(114, 8, 8) solid;
	text-align: center;
}

.boxPrincipalContato{
	background-color: #58ac32;
	text-align: center;
}

.fundo-contato{
	font-size: 20pt;
	color: white;
	text-align: center;
	margin-top: 25px;
}

.nomeTextoContato{
	color: white;
	margin-top: 60px;
}






/*------------------------- PÁGINA SOBRE -----------------------------*/

.descricao{
	width: 300;
	background-color: white;
	padding: 50px;
}

.linkPagina{
	margin-bottom: 50px;
}

.linkPagina p{
	font-family: 'Times New Roman', Times, serif
}







/*------------------------- PÁGINA CONTATO -----------------------------*/







/*------------------------- PÁGINA ENTRAR ------------------------------*/

.mensagemErrorEntrar{
	width: 50%;
	height: 300px;
	background-color: #3b88b8;
	opacity: 0.7;
	margin-top: 50px;
	padding: 50px;
}

.secaoEntrar{
	width: 100%;
	height: 700px;
	background-image: url(./img/img-index-mar.jpg);
	background-size: 100%;
	display: flex;
	justify-content: center;
}

.dentro{
	position: absolute;
	top: 190px;
	z-index: 999;
	color: white;
	font-size: 30px;
	font-family: 'franklin-gothic-medium-cond';
	text-align: center;

}







/*  sm  */
@media (max-width: 575.98px) { 

	.caixaHeader{
		display: inline;
		background-image: linear-gradient(to top, #0367a6, #07578a);
		height: auto;
	}

	.linkMenu>*{
		font-size: 15px;
		color: #07578a;
	}

	.linkMenu{	
		width: 100%;
	}

	.mensagemIndex p{
		font-size: 25pt;
		letter-spacing: 10px;
	}

	.blocoIndexForm{
		height: auto;
		width: 100%;
		display: inline;
	}

	.footer{
		padding: 30px;
	}

	.logo-footer img{
		width: 200px;
	}

	.textoFooter{
		padding: 30px;
		text-align: center;
	}
}



/* md - Dispositivos small (telefones em modo paisagem, com menos de 768px)  */
@media (max-width: 767.98px) { 

	.caixaLogo{
		width: 100%;
		background-image: linear-gradient(to top, #0367a6, #07578a);
	}

	.linkMenu{	
		width: 100%;
	}

	.linkMenu>*{
		font-size: 15px;
	}

	.blocoIndexForm{
		height: auto;
		width: 100%;
		display: inline;
	}
	
	.footer{
		padding: 30px;
	}

	.logo-footer img{
		width: 200px;
	}

	.textoFooter{
		padding: 30px;
		text-align: center;
	}

}



/* lg - Dispositivos médios (tablets com menos de 992px)  */
@media (max-width: 991.98px) {
	.caixaHeader{
		background-image: linear-gradient(to top, #0367a6, #07578a);
	}

	.blocoIndexForm{
		height: auto;
		width: 100%;
		display: inline;
	}

	.textoFooter{
		padding: 30px;
	}

}



/* xl - Dispositivos large (desktops com menos de 1200px)  */
@media (max-width: 1199.98px) {
	
}